body {
    background: linear-gradient(to left , #83a4d4, #b6fbde);
    width:99%;
}
h3 {
    text-align:center;
    font-size:auto;
    color:green
}
span {
    color:red;
}
label {
    display:inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;

}
li {
    display:list-item;
    
    justify-content: center;
    margin:0px auto 0px auto;
}

input::-moz-focus-inner {
    display:inline-block;
    float:center;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    width:50%;
}
.box {
    width: 20%;
    margin: 10px;
    border-radius:15px;
    text-align: left;

}
.box1 {
    width:50%;
    border-radius:15px;
    position:relative;
}
.header, .footer {
    width:100%;
    overflow: hidden;
    position: fixed;        
    background: #9ed2d9;
    padding: 1px;
    color: #fff;
    left:0;

}
.container{
        width: 80%;
        margin: auto; /* Center the DIV horizontally */
}
.header {
    top: 0;
    
    
}
.footer {
    bottom: 0;
    color:black;
    text-align:center;
    height:5%;
}
.mid-div {
    margin:auto;
    display:block;
    
    
}
.tb1 {
    width:100%;
}
.img-style{
    position:relative;
    top: 10%;
    left: 40%;
    width:20%;
}
.startmsg {
    color:#FF00FF;
    padding:5px solid;
}

.topnav {
  overflow: hidden;
  width:100%;
  position:relative;
  background-color: #333;
  top:61;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.sidebar {

  position:relative;
  width: 10%;
  background-color: #f1f1f1;
  top:61;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 600px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
input:required:valid::-moz-focus-inner {
  box-shadow: palegreen;
  transition: border-color .5s ease-out;
  
}

button[type=submit][value=view]::-moz-focus-inner {
    border: 0;
    color:black;
    background-color:#90EE90;
    display: block;
    height:25px ;
    width: 70px;
    border-radius:15px;
}
button[type=submit][value=update]::-moz-focus-inner {
    border: 0;
    color:black;
    background-color:#ffffb3;
    display: block;
    height:25px ;
    width: 70px;
    border-radius:15px;
}
button[type=submit][value=updated]::-moz-focus-inner {
    border: 0;
    color:black;
    background-color:#ffffb3;
    height:33px;
    width: 100px;
    border-radius:15px;
    transition: width .10s ease-in-out;
}
button[type=submit][value=delete]::-moz-focus-inner {
    border: 0;
    color:black;
    background-color:#FF6347;
    display: block;
    height:23px;
    width: 70px;
    border-radius:15px;
    transition: width .10s ease-in-out;
}
button[value=create]::-moz-focus-inner {
    border: 0;
    color:black;
    background-color:#90EE90;
    height:33px;
    width: 100px;
    border-radius:15px;
    transition: width .10s ease-in-out;
}
button[value=back]::-moz-focus-inner {
    border: 0;
    color:black;
    background-color:#83a4d4;
    height:33px;
    width: 100px;
    border-radius:15px;
    transition: width .10s ease-in-out;
}
button[value=viewall]::-moz-focus-inner {
    border: 0;
    color:black;
    background-color:#83a4d4;
    height:33px;
    width: 100px;
    border-radius:15px;
    transition: width .10s ease-in-out;
}
input[value=save]::-moz-focus-inner{
    border: 0;
    color:black;
    background-color:#90EE90;
    height:33px;
    width: 100px;
    border-radius:15px;
    transition: width .10s ease-in-out;
}

button[type=submit]:hover {
    box-shadow:15px 15px 5px #9dd2c9 ;
    width:75px;

}
button[value=create]:hover {
    box-shadow:15px 15px 5px #9dd2c9 ;
    width:135px;
} 
button[value=back]:hover {
    box-shadow:15px 15px 5px #9dd2c9 ;
    width:135px;
} 
button[value=viewall]:hover {
    box-shadow:15px 15px 5px #9dd2c9 ;
    width:135px;
} 
button[value=updated]:hover {
    box-shadow:15px 15px 5px #9dd2c9 ;
    width:135px;
}
input[value=save]:hover::-moz-focus-inner {
    box-shadow:15px 15px 5px #9dd2c9 ;
    width:135px;
}   

input:invalid:required::-moz-focus-inner {
  box-shadow: salmon;
  transition: border-color .5s ease-out;
}
input.save::-moz-focus-inner {
    border: 0;
    color:black;
    background-color:#90EE90;
    height:33px;
    outline:none;
    width: 100px;
    border-radius:15px;
    transition: width .10s ease-in-out;

}   

input.save:hover::moz-focus-inner {
  box-shadow:15px 15px 5px #9dd2c9 ;
    width:135px;
    border: 0;
}





